@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 278deg 92% 18%;
    --color-secondary: 62deg 56% 54%;
  }

  :root[data-theme='dark'] {
    --color-primary: 62deg 56% 54%;
    --color-secondary: 278deg 92% 18%;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  img,
  video,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}
